$color-light = {
  base: #ffffff,
}

$color-dark = {
  base: #010029,
  dark: #000000,
}

$color-gray = {
  lightes:#F5F5F5
  light:#636363
  base: #666666,
}

$color-red = {
  lightest:#FFD600
  light:#FF8981
  base: #E60F01,
}

$color-blue = {
    lightest1:#BAE2FF
    lightest2:#80C2FF
    light1:#00B7DF
    light2:#2596FF
    base:#0194E6
    dark1:#0089ED
    dark2:#0074DF
    dark3:#0070C1   
    dark4:#007FDB   
    dark5:#004A81
    dark6:#003C67                        
}






