$use-fonts-extended = false;
$fonts-path ='../fonts/';

$fonts-arr = {
  '300': {
    name: 'Muller',
    file: MullerLight,
    weight: 300,
    style: normal
  },
  '400': {
    name: 'Muller',
    file: MullerRegular,
    weight: normal,
    style: normal
  },
  '500': {
    name: 'Muller',
    file: MullerMedium,
    weight: 500,
    style: normal
  },
  '600': {
    name: 'Muller',
    file: MullerBold,
    weight: 600,
    style: normal
  },
  '700': {
    name: 'Muller',
    file: MullerExtraBold,
    weight: 700,
    style: normal
  },
  '800': {
    name: 'Muller',
    file: MullerBlack,
    weight: 800,
    style: normal
  },
}
